.home2{
    flex: 6;
    padding: 20px;
}

.productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .productTitle{
    margin-top: -5px;
    margin-left: 20px;
  }

  .widget {
    display: flex;
    justify-content: space-between;
  }

  .productLeft,
  .productRight {
    flex: 1;
  }

  .productTopLeft{
    padding: 20px;
    margin: 20px;
    height: 200px;
    background-color: rgb(40, 40, 45);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }

  .productBottomLeft {
    padding: 20px;
    margin: 20px;
    height: 200px;
    background-color: rgb(40, 40, 45);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }

  .productRight {
    padding: 20px;
    margin: 20px;
    height: 460px;
    background-color: rgb(40, 40, 45);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }